sudo: required
services:
  - docker

before_install:
  - docker build -t igflavius/react-test -f ./client/Dockerfile.dev ./client

script:
  - docker run igflavius/react-test npm test -- --coverage

after_success: 
  - docker build -t igflavius/multi-client ./client
  - docker build -t igflavius/multi-nginx ./nginx
  - docker build -t igflavius/multi-server ./server
  - docker build -t igflavius/multi-worker ./worker
  - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_ID" --password-stdin
  - docker push igflavius/multi-client
  - docker push igflavius/multi-nginx
  - docker push igflavius/multi-server
  - docker push igflavius/multi-worker
